/* Táblázat stílusok */
.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

td {
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
    font-size: 15px;
    padding: 8px;
    position: relative;
    align-items: center;
    white-space: nowrap;
    user-select: none;
}

th a {
    text-decoration: none;
    color: inherit;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Lapozó gombok */
.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination-container .pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination-container .pagination li {
    display: inline;
}

.pagination-container .pagination li a,
.pagination-container .pagination li span {
    color: #959595;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-right: 2px;
    font-size: 14px;
}

.pagination-container .pagination li a:hover{
    background-color: #e2e2e2;
    color: #333;
}
.pagination-container .pagination li span.current {
    background-color: #4e6f93;
    color: white;
}

.pagination-container .pagination li a.previous,
.pagination-container .pagination li a.next,
.pagination-container .pagination li a.first,
.pagination-container .pagination li a.last {
    background-color: #f1f1f1;
    color: #333;
}

.pagination-container .pagination li a.previous:hover,
.pagination-container .pagination li a.next:hover,
.pagination-container .pagination li a.first:hover,
.pagination-container .pagination li a.last:hover {
    background-color: #e2e2e2;
}

/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1, h2 {
    color: #333;
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 30px;
}

/* gomb */
button, a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: #4e6f93;
    color: white;
    box-sizing: border-box;
    height: 30px;
    margin: 2px;
}

button:hover, a.button:hover {
    background: #e2e2e2;
    color: #333;
}

button.active, a.button.active {
    background-color: #4e6f93;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}

/* Autocomplete */
.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    width: 300px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
    margin-top: -25px;
    display: none;
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #ddd;
}

/* part gombok */
.tab-selector {
    display: flex;
    overflow-x: auto;
    padding: 8px;
}

.tab-button {
    background: #f1f1f1;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.tab-button.active {
    background: #4e6f93;
    color: #fff;
}

.tab-button:not(.active):hover {
    background: #e2e2e2;
    color: #333;
}

/* Brand szűrő */
.brand-filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.brand-filter label {
    font-size: 14px;
    margin-right: 10px;
}

form select {
    width: 170px;
    height: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #fff;
    color: #333;
}

/* Modell linkek */
.model-link {
    color: #333232;
    text-decoration: none;
    font-weight: bold;
}

.model-link:hover {
    color: #4e6f93;
}

.center-cell {
    text-align: center;
    vertical-align: middle;
    width: 50px;
    padding-top: 3px;
    padding-bottom: 0;
}

/* grafikon */
.chart-container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.scores-summary {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 15px;
}

.score-item {
    font-size: 15px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.back-button {
    font-size: 28px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.back-button:hover {
    color: #686868;
}

.add-button {
    font-size: 28px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0;
}

.add-button:hover {
    color: #686868;
    background: transparent;
}
